@import "variables.scss";
@import "animations.scss";
@import "components.scss";
@import "layout.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Base --- */

li {
  list-style: none;
}

body {
  background: $bg-col;
  font-family: "Alata", sans-serif;
  color: $font-col;
  letter-spacing: 2px;
}

/* --- Media queries --- */

@media screen and (max-width: 430px) {
  .list-section {
    display: grid;
  }

  .bubble--warning {
    width: 150px;
    left: 60%;
    top: 28%;
  }
}
